extends layout

block content
 div#container
  ul.navbar.navbar-inverse
   li
    img#littleImg(src="../images/logoklein.png")
   li
    a(href="ask") ASK A QUESTION
   li
    a(href="questions") ALL QUESTIONS
   li
    a(href="/") LOGIN
 
 div#logo.img-rounded.img-responsiv
 #content
  div.row
   div#leftSide.col-md-7
     each m in messages
      div#message
       h1.messageid #{m.name} Asks :
       p.messageid #{m.message}
       p.voteup.glyphicon.glyphicon-chevron-up voteUp
       p#upvotes
       p.votedown.glyphicon.glyphicon-chevron-down voteDown
       p#downvotes
       p.delete.glyphicon.glyphicon-remove delete
   div#rightSide.col-md-4
    p.questionHeader
      h1 Ask your question
      ul#form(class="form-horizontal")
       li: label.col-sm-5.control-label Your name
       li: input#nameField.form-control(type="text")
       li: label.col-sm-5.control-label your question
       li: textarea(name='questionField', id='questionField', maxlength="100", rows="3" )
       li: input#submitQuestion.btn.btn-danger(type="submit", value="Speak up")