extends layout

block content
  //h1= title
  //p Welcome to #{title}
  //a(href="/auth/facebook") Login via Facebook
  
  div#container
   ul.navbar.navbar-inverse
    li
     img#littleImg(src="../images/logoklein.png")
    li
     a(href="/") Home
    li
     a(href="ask") Ask a question
    li
     a(href="questions") All questions
    

  
   form#loginForm(method="post",action="/login", role="form")
    h1 Login
    div.form-group
     label.col-sm-3 Username:
     div.col-sm-10
      input(type="text", name="username", id="username")
    div.form-group
     label.col-sm-3 Password:
     div.col-sm-10
      input(type="text",name="password" id="password")
    div.form-group
     div.col-sm-10
      input#logininput.btn.btn-danger(type="submit", value="Login")


