extends layout

block content
  //h1= title
  //p Welcome to #{title}
  //a(href="/auth/facebook") Login via Facebook
  
  ul.nav.nav-pills
   li
    a(href="/") Home
   li
    a(href="ask") Ask a question
   li
    a(href="questions") All Questions
   li
    a(href="login") login

  form(method="post",action="/login")
    label Username:
    input(type="text", name="username")
    label Password:
    input(type="text",name="password")
    input(type="submit", value="Login")


