extends layout

block content
   ul.nav.nav-pills
    li
     a(href="/") Home
    li
     a(href="ask") Ask a question
    li
     a(href="questions") All Questions
    li
     a(href="login") login

  h1 Moderate the page

  #content
    #leftSideQuestion
        //p.questionStyle
        //    |Vraag1

       // p.questionStyle
       //     |Vraag2

       // p.questionStyle
       //     |Vraag3
    