extends layout

block content
 div#container
  ul.navbar.navbar-inverse
   li
    img#littleImg(src="../images/logoklein.png")
   li
    a(href="ask") ASK A QUESTION
   li
    a(href="questions") ALL QUESTIONS
   li
    a(href="/") LOGIN

  h1 All questions
  h2 By clicking on a question, you can vote on it

  #content
    #leftSide
       each m in messages
        div#message
         h1.messageid #{m.name} Asks :
         p.messageid #{m.message}
         p.voteup.glyphicon.glyphicon-chevron-up voteUp
         p#upvotes
         p.votedown.glyphicon.glyphicon-chevron-down voteDown
         p#downvotes
         p.delete.glyphicon.glyphicon-remove delete

    