extends layout

block content
 div#container
   ul.navbar.navbar-inverse
    li
     img#littleImg(src="../images/logoklein.png")
    li
     a(href="/") Home
    li
     a(href="ask") Ask a question 
    li
     a(href="questions") All questions 

  h1 All questions
  

  #content
    #leftSide
      each m in messages
       div#message.slideInDown
        h1.messageid #{m.name} Asks :
        p.messageid #{m.message}
        p.voteup.glyphicon.glyphicon-chevron-up voteUp
        p#votes
        p.votedown.glyphicon.glyphicon-chevron-down voteDown
        p.delete.glyphicon.glyphicon-remove(data-delete= "#{m.id}") delete

    