body {

background-color:#123870;

}
#bovenblok {

width:450px;
height:125px;
background-color:white;
border-radius:20px;
margin-left:auto;
margin-right:auto;
overflow:hidden;


}
#bovenblok  img{

float:left;
border-radius:20px;
margin-right:10px;
margin-left:10px;
margin-top:10px;


}
#bovenblok h1 {
font-size:16px;
padding-top:20px;
}

#fotos {

margin-left:auto;
margin-right:auto;
width:450px;
height:100px;
margin-top:100px;

}

#fotos img {

margin-left:30px;

}
.draai
{
-webkit-transform-origin: center center;
-webkit-animation: draaien 1s;
-webkit-animation-fill-mode: forwards;

}
	@-webkit-keyframes draaien {
	0% { -webkit-transform: perspective(400px) rotatex( 90deg ); opacity: 0; }
	40% { -webkit-transform: perspective(400px) rotatex( -10deg ); }
	70% { -webkit-transform: perspective(400px) rotatex( 10deg ); }
	100% { -webkit-transform: perspective(400px) rotatex( 0deg ); opacity: 1; }
}

#midden {

-webkit-animation: middenanimatie 1s;
-webkit-animation-fill-mode: forwards;

}

@-webkit-keyframes middenanimatie{
	1% { -webkit-transform: translateX(-1000px); opacity: 0; }
	100% { -webkit-transform: translateX(0); opacity: 1; }
}

#fotos {

-webkit-transform-origin: left bottom;
-webkit-animation: fotodraai 1s;
-webkit-animation-fill-mode: forwards;

}

@-webkit-keyframes fotodraai{
0% { -webkit-transform: perspective(400px) rotateY( 90deg ); opacity: 0; }
40% { -webkit-transform: perspective(400px) rotateY( -10deg ); }
70% { -webkit-transform: perspective(400px) rotateY( 10deg ); }
100% { -webkit-transform: perspective(400px) rotateY( 0deg ); opacity: 1; }
}

.vergroot {

width:100px;
height:100px;
}

.groot {

height:110px;
width:110px;

}



